@model DHMRice.Models.Shop

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shop_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop_MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop_BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop_ACcountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_ACcountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
