@model DHMRice.Models.Factory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Factory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Factory_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factory_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factory_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factory_BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory_BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factory_ACcountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory_ACcountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factory_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Factory_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
