@model IEnumerable<DHMRice.Models.Broker>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Css {
    <!-- DataTables -->
    <link href="~/Content/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/dataTables.colVis.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />


}

<!-- Start content -->

<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Broker</h4>
                    <ol class="breadcrumb p-0 m-0">

                        <li class="active">
                            Index
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->




        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">


                    <table id="datatable-buttons" class="table table-striped  table-colored table-info">
                        <thead>
                            <tr>

                                <th>Broker Name</th>
                                <th>Broker Code</th>
                                <th>Broker Mobile No</th>
                                <th>Broker Bank Name</th>
                                <th>Broker Account No</th>
                                <th>Broker Address</th>
                                <th>Status</th>

                                <th>Actions</th>

                            </tr>
                        </thead>


                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>


                                    <td>@item.Broker_Name</td>
                                    <td>@item.Broker_Code</td>
                                    <td>@item.Broker_MobileNo</td>
                                    <td>@item.Broker_BankName</td>
                                    <td>@item.Broker_ACcountNo</td>
                                    <td>@item.Broker_Address</td>
                                    <td>@item.Status</td>


                                    <td class="actions">
                                        <a href="~/Brokers/Edit?id=@item.Broker_Id" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                        <a href="~/Brokers/Delete?id=@item.Broker_Id" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div> <!-- container -->

</div> <!-- content -->
@section Scripts {

    <script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/dataTables.bootstrap.js"></script>

    <script src="~/Content/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/dataTables.scroller.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/dataTables.colVis.js"></script>
    <script src="~/Content/assets/plugins/datatables/dataTables.fixedColumns.min.js"></script>

    <!-- init -->
    <script src="~/Content/assets/pages/jquery.datatables.init.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#datatable').dataTable();
                $('#datatable-keytable').DataTable({keys: true});
                $('#datatable-responsive').DataTable();
                $('#datatable-colvid').DataTable({
                    "dom": 'C<"clear">lfrtip',
                    "colVis": {
                        "buttonText": "Change columns"
                    }
                });
                $('#datatable-scroller').DataTable({
                    ajax: "../plugins/datatables/json/scroller-demo.json",
                    deferRender: true,
                    scrollY: 380,
                    scrollCollapse: true,
                    scroller: true
                });
                var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
                var table = $('#datatable-fixed-col').DataTable({
                    scrollY: "300px",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    fixedColumns: {
                        leftColumns: 1,
                        rightColumns: 1
                    }
                });
            });
            TableManageButtons.init();

    </script>
}


